Let's start form importing needed libraries and the data.

In [13]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pylab as pl

import plotly.graph_objects as go

import statistics

#read dataset and have a quick look
df = pd.read_csv('netflix_daily_top10.csv')
df.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [14]:
df.describe

<bound method NDFrame.describe of            As of  Rank Year to Date Rank Last Week Rank  \
0     2020-04-01     1                 1              1
1     2020-04-01     2                 2              -
2     2020-04-01     3                 3              2
3     2020-04-01     4                 4              -
4     2020-04-01     5                 5              4
...          ...   ...               ...            ...
7095  2022-03-11     6                 5              1
7096  2022-03-11     7                 7              2
7097  2022-03-11     8                 8              -
7098  2022-03-11     9                 9              7
7099  2022-03-11    10                10              -

                             Title     Type Netflix Exclusive  \
0     Tiger King: Murder, Mayhem …  TV Show               Yes
1                            Ozark  TV Show               Yes
2                     All American  TV Show               NaN
3                     Blood Father    Movie               NaN
4                     The Platform    Movie               Yes
...                            ...      ...               ...
7095           Worst Roommate Ever  TV Show               Yes
7096             Vikings: Valhalla  TV Show               Yes
7097                       Shooter    Movie               NaN
7098                       Shrek 2    Movie               NaN
7099                         Shrek    Movie               NaN

     Netflix Release Date  Days In Top 10  Viewership Score
0            Mar 20, 2020               9                90
1            Jul 21, 2017               5                45
2            Mar 28, 2019               9                76
3            Mar 26, 2020               5                30
4            Mar 20, 2020               9                55
...                   ...             ...               ...
7095          Mar 1, 2022              10                81
7096         Feb 25, 2022              14               100
7097          Aug 1, 2014               3                 7
7098          Mar 1, 2022              10                33
7099          May 1, 2018               7                12

[7100 rows x 10 columns]>

In [15]:
#Drop duplicate rows
df = df.drop_duplicates()

In [16]:
#Check rows and columns of dataset
df.shape

(7100, 10)

In [17]:
#Check also the type of dataset and columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 610.2+ KB

In [ ]:
#Check how many null values are present
df.isnull().sum()

In [ ]:
#Replacing the null values in Netflix_Exclusive as No.
df['Netflix Exclusive']=df['Netflix Exclusive'].fillna('NO')
#Replacing all the values in Year_to_Date_Rank,Last_Week_Rank with zeros
df['Year to Date Rank']=df['Year to Date Rank'].replace('-',0)
df['Last Week Rank']=df['Last Week Rank'].replace('-',0)

#Checking again for any null values present.

df.isnull().sum()

In [ ]:
# Converting the data type for the following columns.

df['Year to Date Rank']=df['Year to Date Rank'].astype('int64')
df['Last Week Rank']=df['Last Week Rank'].astype('int64')
df['Netflix Release Date']=pd.to_datetime(df['Netflix Release Date'])
df['As of']=pd.to_datetime(df['As of'])
df.info()

In [ ]:
df.describe()

Let's start to explore the data.

In [ ]:
#Look at the data with pandas profiling report

profiling = pandas_profiling.ProfileReport(df)
profiling.to_file("profiling.html")
profiling

The profiling report has a correlations section where it is clear the  correlation between *Days_In_Top_10* and *Viewership_Score*